body{
	background-image: url("fondo2.jpg");
	background-position: top;
	background-size: 100%;
	background-repeat: no-repeat;
	font-size: 16px;
	margin: 50px;
	
}
.text-left{
	color:black;
}
.text-center{
	color:blue;
}
.glyphicon {
	color:black;
}
h3{
	font-size: 1.5em;
	font-family: 'Calligraffitti', cursive;
	color: blue;
}

h1{
font-family: 'Covered By Your Grace', cursive;
	}

.thumbnail{
background-image: url("fondo2.jpg");

}
#well{
	font-family: 'Indie Flower', cursive;
	background: blue;
}
#yo{
	background-color: blue;

}
#pasa{
	background-color: blue;

}
#no{
	background-color: lightskyblue;
}
#mu{
	background-color: lightskyblue;

}
#ma{
	background-color: blue;

}
#ta{
	background-color: lightskyblue;
	
}